<meta name="theme-color" content="{{ $.Site.Params.themeColor }}">
<link rel="icon" href="{{ "/icons/pantry50.png" | absURL }}" sizes="any">
<link rel="apple-touch-icon" sizes="180x180" href="{{ "/icons/pantry50.png" | absURL }}">
<link rel="icon" type="image/png" sizes="32x32" href="{{ "/icons/pantry50.png" | absURL }}">
<link rel="icon" type="image/png" sizes="16x16" href="{{ "/icons/pantry50.png" | absURL }}">
