<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="{{ .Site.Params.twitterSite }}">
<meta name="twitter:creator" content="{{ .Site.Params.twitterCreator }}">
<meta name="twitter:title" content="{{ .Title }}">
<meta name="twitter:description" content="{{ .Description }}">


{{ with .Params.image }}
  <meta property="twitter:image" content="{{ . }}">
{{ end -}}


<meta name="twitter:image:alt" content="{{ .Title }}">