{{ if or .Prev .Next -}}
	<div class="docs-navigation d-flex justify-content-between">
	<!-- https://www.feliciano.tech/blog/custom-sort-hugo-single-pages/ -->
	{{ $pages := where site.RegularPages "Section" .Section -}}
	{{ with $pages.Next . -}}
		<a href="{{ .RelPermalink }}">
			<button class="btn btn-secondary my-1">&larr; {{ .Title }}</button>
		</a>
	{{ end -}}
	{{ with $pages.Prev . -}}
		<a class="ms-auto" href="{{ .RelPermalink }}">
			<button class="btn btn-secondary my-1">{{ .Title }} &rarr;</button>
		</a>
	{{ end -}}
	</div>
{{ end -}}