{{ define "main" }}
<div class="row justify-content-center">
  <div class="col-md-12 col-lg-10 col-xl-8">
    <article>
      <h1 class="text-center h2">{{ if eq .CurrentSection .FirstSection }}{{ .Section | humanize }}{{ else }}{{ .Title }}{{ end }}</h1>
      <div class="text-center">{{ .Content }}</div>
			<div class="card-list">
				{{ $currentSection := .CurrentSection }}
				{{ range where .Site.RegularPages.ByTitle "Section" .Section }}
					{{ if in (.RelPermalink | string) $currentSection.RelPermalink }}
						<div class="card my-3">
							<div class="card-body">
								<a class="stretched-link" href="{{ .RelPermalink }}">{{ .Params.title | title }} &rarr;</a>
							</div>
						</div>
					{{ end }}
				{{ end }}
			</div>
    </article>
  </div>
</div>
{{ end }}