{{ define "main" }}


{{ if or (eq .Section "articles") (eq .Section "blog") (eq .Section "news") (eq .Section "works") }}

<section class="container">
  <div class="blog-header">
    <h1>{{ .Title }}</h1>
  </div>

  <div class="row row-cols-1 row-cols-lg-3">
    {{ $paginator := .Paginate (.Data.Pages) -}}
    {{ range $paginator.Pages -}}
    <div class="col">
      <div class="card shadow">
        <img class="card-img-top" src="{{ .Params.image }}">
        <div class="card-body">
          <h2 class="card-title"><a class="stretched-link text-body" href="{{ .RelPermalink }}">{{ .Params.title }}</a></h2>
          <p>{{ .Params.description | safeHTML }}</p>
        </div>
        <div class="card-footer text-center">
          {{ with .Params.date }}
            <small>{{ .Format "January 2, 2006" }}</small>
          {{ end }}
        </div>        
      </div>
    </div>
    {{ end -}}
  </div>
  <div class="row justify-content-center">
    <div class="col-md-12 col-lg-9">

      <div class="my-4">
        {{ $.Scratch.Set "paginator" true }}
        {{ template "_internal/pagination.html" . }}
      </div>

    </div>
  </div>
</section>

{{ else }}           

<section class="section container text-center">
  <div class="row row-cols-1 row-cols-lg-2">
    <div class="col">
      <img src="{{ .Params.logo | relURL }}" alt="{{ .Title }}" class="px-5">
      <h1 class="h1">{{ .Params.title }}</h1>
      <p class="f18 mt-2">{{ .Params.subtitle }}</p>

      {{ if .Params.applink }}
        <div class="my-4">
          <a href="{{ .Params.applink }}" class="btn btn-primary btn-block">
            <!-- is-rounded -->
            {{ .Params.apptext }} <svg  viewBox="0 0 448 512" height="20px" fill="white"><path d="M190.5 66.9l22.2-22.2c9.4-9.4 24.6-9.4 33.9 0L441 239c9.4 9.4 9.4 24.6 0 33.9L246.6 467.3c-9.4 9.4-24.6 9.4-33.9 0l-22.2-22.2c-9.5-9.5-9.3-25 .4-34.3L311.4 296H24c-13.3 0-24-10.7-24-24v-32c0-13.3 10.7-24 24-24h287.4L190.9 101.2c-9.8-9.3-10-24.8-.4-34.3z"/></svg>
          </a>
        </div>        
      {{ end }}        
    </div>

    <div class="col">
      {{ if .Params.youtube }}      
        <div class="ratio ratio-16x9">
          <iframe src="https://www.youtube.com/embed/{{ .Params.youtube }}" title="{{ .Params.title }}" allowfullscreen></iframe>
        </div>
      {{ else }}
        <img src="{{ .Params.image | relURL }}" alt="{{ .Title }}" class="">
      {{ end }}
    </div>    
  </div>
</section>



  {{ with .Params.grid }}
    {{ partial "grid.html" . }}
  {{ end }}


  <!--   card with images -->
  {{ with .Params.shots }}
    {{ partial "shots.html" . }}
  {{ end }}


  {{ with .Params.personas }}
    {{ partial "personas.html" . }}
  {{ end }}

  {{ with .Params.personas2 }}
    {{ partial "personas.html" . }}
  {{ end }}


  <!-- icons -->
  {{ with .Params.features }}
    {{ partial "features.html" . }}
  {{ end }}


<!-- icons -->
  {{ with .Params.featuresgrid }}
    {{ partial "featuresgrid.html" . }}
  {{ end }}
  
    <!-- icons -->
  {{ with .Params.duobutton }}
    {{ partial "duobutton.html" . }}
  {{ end }}
  
  {{ with .Params.how }}
    {{ partial "how.html" . }}
  {{ end }}


  
  <!-- logos -->
  {{ with .Params.circles }}
    {{ partial "circles.html" . }}
  {{ end }}

  <!-- logos -->
  {{ with .Params.circles1 }}
    {{ partial "circles.html" . }}
  {{ end }} 




  <!-- logos -->
  {{ with .Params.duo }}
    {{ partial "duo.html" . }}
  {{ end }}


  {{ with .Params.timeline }}
    {{ partial "timeline.html" . }}
  {{ end }}

  {{ with .Params.feat }}
    {{ partial "feat.html" . }}
  {{ end }}


  {{ with .Params.segment }}
    {{ partial "segment.html" . }}
  {{ end }}

  {{ with .Params.carousel }}
    {{ partial "carousel.html" . }}
  {{ end }}

  {{ with .Params.req }}
    {{ partial "req.html" . }}
  {{ end }}

  {{ with .Params.feedback }}
    {{ partial "feedback.html" . }}
  {{ end }}

  {{ with .Params.feedback2 }}
    {{ partial "feedback.html" . }}
  {{ end }}




  {{ with .Params.cta }}
    {{ partial "cta.html" . }}
  {{ end }}
  <!-- <section class="section">
    <div class="container">
      <div class="row">
        <div class="col-lg-10 mx-auto">
          <div class="content">{{ .Content }}</div>
        </div>
      </div>
    </div>
  </section> -->

{{ end }}

{{ end }}                      