{{ define "main" }}

<style type="text/css">
  body {
    background-color: white;
  }
</style>



<div class="container">
  <div class="row">
    <div class="col-16 col-lg-10">
      <div class="blog-header">
        <h1>{{ .Title }}</h1>
        {{ with .Params.subtitle }}
          <p>{{ . }}</p>        
        {{ end }}

        {{ with .Params.date }}
          <small>{{ .Format "January 2, 2006" }}</small>
        {{ end }}

      </div>

      {{ .Content }}


      {{ with .Params.form }}
        {{ partial "form.html" . }}        
      {{ end }}

      {{ with .Params.supporters2 }}
        {{ partial "supporters.html" . }}        
      {{ end }}
      
      {{ with .Params.supporters }}
        {{ partial "supporters.html" . }}        
      {{ end }}



    </div>
    <div class="col-16 col-lg-6">

      {{ with .Params.partners }}
        {{ partial "partners.html" . }}        
      {{ end }}

      {{ if .Params.tags -}}
      <div class="mt-4">
        <h2 class="section-title">Tags</h2>        
        {{ range $index, $tag := .Params.tags -}}
          <a class="btn btn-warning" href="{{ "/tags/" | absURL }}{{ . | urlize }}/" role="button">{{ . }}</a>
        {{ end -}}
      </div>
      {{ end -}}

      {{ $related := .Site.RegularPages.Related . | first 3 -}}
      {{ with $related -}}
      <div class="related-posts">
        <h2 class="section-title">Related posts</h2>
        <div class="row">
          {{ range . -}}
          <div class="col">
            <div class="card shadow">
              <div class="card-body">
                <article>
                  <h2 class="h3"><a class="stretched-link text-body" href="{{ .RelPermalink }}">{{ .Params.title }}</a></h2>
                  <p>{{ .Params.description | safeHTML }}</p>
                </article>
              </div>
            </div>
          </div>
          {{ end -}}
        </div>
      </div>
      {{ end -}}

    
    </div>

  </div>

</div>

{{ end }}
