{{ define "main" }}

<style type="text/css">
  body {
    background-color: white;
  }
</style>

<div class="container">

  <div class="row">
    <div class="col-sm-12 col-md-12">
      <div class="blog-header">
        <h1>{{ .Title }}</h1>

        {{ with .Params.date }}
          <small>{{ .Format "January 2, 2006" }}</small>
        {{ end }}

        {{ with .Params.author }}
          <small>| by {{ . }}</small>
        {{ end }}        
      </div>
      {{ .Content }}

      {{ with .Params.updates }}
        <div class="alert rounded shadow alert-warning my-4">
          <h3 class="h5">Updates</h3> 
        <p>{{ . | safeHTML }}</p> 
        </div>
      {{ end }}      


      {{ partial "main/docs-navigation.html" . }}      
      <br>
    </div>

    <div class="col-sm-12 col-md-4">
      {{ if .Params.tags -}}
      <div class="mt-4">
        <h2 class="section-title">Tags</h2>        
        {{ range $index, $tag := .Params.tags -}}
          <a class="btn btn-warning btn-sm m-2" href="{{ "/tags/" | absURL }}{{ . | urlize }}/" role="button">{{ . }}</a>
        {{ end -}}
      </div>
      {{ end -}}

      {{ $related := .Site.RegularPages.Related . | first 3 -}}
      {{ with $related -}}
      <div class="related-posts">
        <h2 class="section-title">Related posts</h2>
        <div class="row">
          {{ range . -}}
          <div class="col">
            <div class="card my-2 shadow">
              <img class="card-img-top" src="{{ .Params.image }}">
              <div class="card-body">
                <article>
                  <h2 class="h3"><a class="stretched-link text-body" href="{{ .RelPermalink }}">{{ .Params.title }}</a></h2>
                  <p>{{ .Params.description | safeHTML }}</p>
                </article>
              </div>
            </div>
          </div>
          {{ end -}}
        </div>
      </div>
      {{ end -}}


    </div>
  </div>
</div>

{{ end }}



