{{ define "main" }}
<div class="row justify-content-center">
  <div class="col-md-12 col-lg-10 col-xl-8">
    <article>

      <h1 class="h1 text-center">{{ .Title }}</h1>
			<div class="card-list">
				{{ $currentSection := .CurrentSection }}
			  {{ $paginator := .Paginate (.Data.Pages) -}}
			  {{ range $paginator.Pages -}}
						<div class="card my-3">
							<div class="card-body">
								<a class="stretched-link" style="text-decoration: none" href="{{ .RelPermalink }}">{{ .Params.title | title }} &rarr;</a>
							</div>
						</div>
				{{ end }}
			</div>
    </article>
  </div>
</div>
{{ end }}