<footer class="footer text-muted">
  <div class="container-{{ if .Site.Params.options.fullWidth }}fluid{{ else }}xxl{{ end }}">
    <div class="row">
      <div class="col-lg-8 order-last order-lg-first">
        <ul class="list-inline">
          <li class="list-inline-item">{{ .Site.Params.footer | safeHTML }}</li>
        </ul>
      </div>
      <div class="col-lg-8 order-first order-lg-last text-lg-end">
        <ul class="list-inline">
          {{ range .Site.Menus.social -}}
            <li class="list-inline-item">
              <a href="{{ .URL | relURL }}" style="text-decoration: none">{{ .Pre | safeHTML }}<small class="ms-2">{{ .Name | safeHTML }}</small></a>
            </li>
          {{ end -}}
          <li class="list-inline-item">
            <a class="has-text-dark" style="text-decoration: none" href="mailto:hello@pantrypoints.com">hello@pantrypoints.com</a>            
          </li>          
        </ul>
      </div>
    </div>
  </div>
</footer>


