<div id="carousel" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    {{ range .images }}    
      <div class="carousel-item-active">
        <img src="{{ . | relURL }}" alt="Carousel" class="d-block w-100">
      </div>
    {{ end }}    
  </div>

  <div class="carousel-control-prev" href="#carousel" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span> 
  </div>
  <div class="carousel-control-next" href="#carousel" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span> 
  </div>

</div>
