<section class="container text-center my-5">

  <div class="my-4">
    <h2 class="title is-2 h1">{{ .title | markdownify }}</h2>
    <div class="subtitle is-5 f18">{{ .subtitle | markdownify }}</div>
  </div>

  <div class="row justify-content-center">
    {{ range .cards }}
      <div class="col pb-4">
        <div class="card shadow text-center card-equal-height">
          <a href="{{ .link }}">
            <img class="rounded-circle my-3" height="100px" src="{{ .image }}" alt="{{ .name }}">
          </a>
          <div class="card-body">
            <a href="{{ .link }}" style="text-decoration: none;">        
              <b class="card-title h4">{{ .name | title }}</b>
            </a>
            <p class="p-2 card-text">{{ .content | markdownify }}</p>
          </div>
          <small class="card-footer">{{ .footer | safeHTML }}</small>
        </div>
      </div>
    {{ end }}
  </div>
</section>