<section class="section text-center my-5">
  <div class="container my-5">
    <h2 class="title is-1 h1">{{ .title | markdownify }}</h2>
    <p class="subtitle is-5">{{ .subtitle | markdownify }}</p>        
  </div>
  <div class="card-group">
    {{ range .flags }}
      <div class="card m-2 p-3 shadow">
          <a href="{{ .link }}" style="color: gray; text-decoration: none">
            <img src="{{ .flag }}" alt="{{ .name }}" height="50px">
            <br>
            <small>{{ .name }}</small>            
          </a>
      </div>
    {{ end }}
</section>
