<div class="container text-center my-5">
  <h2 class="h1">{{ .title | markdownify }}</h2>
  <p>{{ .subtitle | markdownify }}</p>

  <div class="row mt-4">
    <div class="col-16 col-lg-8">
      <a href="{{ .link1 | relURL }}" title="{{ .label }}" class="btn btn-primary btn-block my-2">{{ .link1text }}</a>
    </div>
    <div class="col-16 col-lg-8">    
      <a href="{{ .link2 | relURL }}" title="{{ .label }}" class="btn btn-info danger btn-block my-2">{{ .link2text }}</a>    
    </div>
  </div>
</div>

