<style type="text/css">
  .duo2 {
    background: #000 url("{{ .banner }}") center center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    background-size: cover;
  }
</style>


<section class="duo2 section text-center px-5 my-5">
  <div class="card p-3 mx-3" style="opacity: 0.9">
    <h2 class="h1">{{ .title | markdownify }}</h2>
    <p class="subtitle is-5 pb-2 f18">{{ .subtitle | markdownify }}</p>
      <a class="btn btn-sm btn-secondary" href="{{ .link }}">{{ .linktext }}</a>
  </div>
  <br>
  <div class="card-group container">
    {{ range .items }}  
      <div class="card mx-2">      
        <img src="{{ .image }}" class="img-fluid mx-auto d-block">
        <div class="card-footer">        
          {{ .imagetext }}
        </div>
      </div>
    {{ end }}        
  </div>
</section>    