<style type="text/css">
  .duobutton {
    background: #fff url("{{ .image }}") center center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    background-size: cover;
  }
</style>


<div class="duobutton text-center p-5">
  <h2 class="h1">{{ .title | markdownify }}</h2>
  <p class="f18 pb-4">{{ .subtitle | markdownify }}</p>

  <div class="row row-cols-1 row-cols-lg-2">
    {{ range .items }}
      <div class="col text-center">
        <div class="card card-equal-height shadow">
          <img src="{{ .image }}" class="card-image-top p-3">
          <!-- img-fluid mx-auto d-block -->
          <div class="card-body">{{ .text }}</div> 
          <a href="{{ .link }}" class="btn btn-block btn-primary">{{ .linktext }}</a>           
        </div>
      </div>
    {{ end }}        
  </div>
</div>