<style type="text/css">
  .features2 {
    background: #fff url("{{ .image }}") center center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    background-size: cover;
  }
</style>

<div class="features2z py-5 bg-dark">
  <div class="container text-center my-5" style="opacity: 0.9">
    <div class="card text-dark mb-4">
      <h2 class="h1">{{ .title | markdownify }}</h2>
      <div class="subtitle is-5 pb-4 f18">{{ .subtitle | markdownify }}</div>
    </div>
    <div class="row row-cols-2 row-cols-lg-4 justify-content-center">
      {{ range .items }}
        <div class="col p-3 mx-2 card my-2">
          <a href="{{ .link }}">
            <i class="zoom-xs mb-3">{{.icon | markdownify }}</i>
          </a>
          <h3 class="h5 mb-2">{{ .name | title }}</h3>
          <p>{{ .content | markdownify }}</p>
        </div>
      {{ end }}
    </div>
  </div>
</div>
