<div class="container">
    
    {{ range $i,$p := .feature_item }}
      {{if modBool $i 2}}    
        <div class="row align-items-center py-5">
            <div class="col-10 col-sm-8 col-lg-6">
                <img src="{{ .img }}" class="rounded-4" alt="" loading="lazy">
            </div>
            <div class="col-lg-10">
                <h2 class="fw-bold display-6">{{ .name | markdownify  }}</h2>
                <div class="lc-block mb-3">
                    <div editable="rich">
                        <p class="lead">{{ .content | markdownify }}
                        </p>
                    </div>
                </div>

            </div>
        </div>
    

    {{ else }}

        <div class="row align-items-center py-5">
            <div class="col-lg-10">
                <h2 class="fw-bold display-6">{{ .name | markdownify  }}</h2>
                <div class="lc-block mb-3">
                    <div editable="rich">
                        <p class="lead">{{ .content | markdownify }}
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-10 col-sm-8 col-lg-6">
                <img src="{{ .img }}" class="rounded-4" alt="" loading="lazy">
            </div>

        </div>

          {{ end }}
        {{ end }}
</div>          