<section class="section container text-center">
  <h2 class="h1 pb-4">{{ .title | markdownify }}</h2>


<div class="card-columns mt-4">
    {{ range $i,$p := .items }}
      <div class="card shadow">

        <div class="row">
          <div class="col-4">
            <a href="{{ .link }}">
              <img class="rounded-circle p-3" height="100px" width="100px" src="{{ .image }}">
            </a>
            <p class="">{{ .name | title }}</p>
          </div>
          <div class="col-11">
            <h5 class="pb-4">
              <svg viewBox='0 0 512 512' fill='gainsboro' height='20px' style="padding: 0 8"><path d='M464 256h-80v-64c0-35.3 28.7-64 64-64h8c13.3 0 24-10.7 24-24V56c0-13.3-10.7-24-24-24h-8c-88.4 0-160 71.6-160 160v240c0 26.5 21.5 48 48 48h128c26.5 0 48-21.5 48-48V304c0-26.5-21.5-48-48-48zm-288 0H96v-64c0-35.3 28.7-64 64-64h8c13.3 0 24-10.7 24-24V56c0-13.3-10.7-24-24-24h-8C71.6 32 0 103.6 0 192v240c0 26.5 21.5 48 48 48h128c26.5 0 48-21.5 48-48V304c0-26.5-21.5-48-48-48z'/></svg> {{ .content | markdownify }} <svg  viewBox='0 0 512 512' fill='gainsboro' height='20px' style="padding: 0 8"><path d='M464 32H336c-26.5 0-48 21.5-48 48v128c0 26.5 21.5 48 48 48h80v64c0 35.3-28.7 64-64 64h-8c-13.3 0-24 10.7-24 24v48c0 13.3 10.7 24 24 24h8c88.4 0 160-71.6 160-160V80c0-26.5-21.5-48-48-48zm-288 0H48C21.5 32 0 53.5 0 80v128c0 26.5 21.5 48 48 48h80v64c0 35.3-28.7 64-64 64h-8c-13.3 0-24 10.7-24 24v48c0 13.3 10.7 24 24 24h8c88.4 0 160-71.6 160-160V80c0-26.5-21.5-48-48-48z'/></svg>
            </h5>          
            <figure class="text-end">{{ .user }}</figure>
          </div>
        </div>
      </div>
    {{ end }}
</div>
</section>