<!-- form for contact page -->

    <form method="post" action="https://hub.pantrypoints.com/api/email" class="mb-6">
<!-- onsubmit="return submitUserForm();" -->

        

<input name="email[user_id]" id="user" type="hidden" value="1">
  <div class="mb-3">
    <label class="form-label">{{ i18n `yourname` }}</label>
    <input type="text" id="name" name="email[name]" placeholder="{{ i18n `yourname` }}" class="form-control">
  </div>

  <div class="mb-3">`
    
    <label class="form-label">{{ i18n `youremail` }}</label>
    <input type="email" id="email" name="email[email]" placeholder="{{ i18n `youremail` }}" class="form-control">
  </div>

  <div class="mb-3">
    <label class="form-label">{{ i18n `yourcity` }}</label>
    <input type="text" id="city" name="email[city]" placeholder="{{ i18n `yourcity` }}" class="form-control">
  </div>

  <div class="mb-3">
    <label class="form-label">{{ i18n `yourmessage` }}</label>
    <textarea type="textarea" id="text" name="email[content]" placeholder="{{ i18n `yourmessage` }}" class="form-control"></textarea>
    <input name="email[address]" id="source" type="hidden" value="Pantrypoints contact form">
  </div>


  <div class="cf-turnstile" data-sitekey="0x4AAAAAAACSZuKkFhl_KkiU" data-theme="light"></div>
  <!-- data-callback="submitUserForm" -->



<!--       <div class="g-recaptcha" data-sitekey="6LfGH0YkAAAAABRFmyinb3QUrNWcbMDwhizBDWr8" data-callback="verifyCaptcha"></div>
      <div id="g-recaptcha-error"></div> -->

  <!-- <button type="submit" value="send" class="btn btn-primary btn-block">Send</button> -->
      <input type="submit" name="submit" value="Submit" class="btn btn-block btn-primary" />

</form>    



<!--     <script src='https://www.google.com/recaptcha/api.js'></script>

    <script>
    var recaptcha_response = '';
    function submitUserForm() {
        if(recaptcha_response.length == 0) {
            document.getElementById('g-recaptcha-error').innerHTML = '<span style="color:red;">This field is required.</span>';
            return false;
        }
        return true;
    }
     
    function verifyCaptcha(token) {
        recaptcha_response = token;
        document.getElementById('g-recaptcha-error').innerHTML = '';
    }
    </script> -->





