<section class="text-center">
  <div class="card p-3 mx-3" style="opacity: 0.9">
    <h2 class="h1">{{ .title | markdownify }}</h2>
    <p class="f18 pb-2">{{ .subtitle | markdownify }}</p>
  </div>

    {{ range .items }}  
      <div class="card p-4">      
        <img src="{{ .image }}" class="img-fluid mx-auto d-block">
      </div>
    {{ end }}        
</div>    

