<div class="section text-center mx-5">
    <h2 class="h1 mb-3">{{ .title | markdownify }}</h2>

    <div class="wrapper">
      <div class="buttonWrapper">
        {{ range $i, $p := .steps }}
          <button class="tab-button" style="" data-id={{ $p.id }}>Step {{ $p.id }}</button>
        {{ end }}
      </div>
      <div class="contentWrapper">
        {{ range $i, $p := .steps }}
          <div class="contenthow has-text-centered active bg-light" id="{{ $p.id }}">
            {{ .content | markdownify }}
            <div class="card-footer mt-4">
              <div class="card-footer-item">
                <figure class="image is-inline-block">                
                  <img src="{{ .image | absURL }}" class="card-image">
                </figure>                
              </div>
            </div>
          </div>
        {{ end }}      
      </div>
    </div>

</div>




<style type="text/css">
  .wrapper {

    margin: auto;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, .1);
  }

  .buttonWrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  button {
    letter-spacing: 3px;
    border: none;
    padding: 10px;
    background-color: #bccbe9;
    color: #232c3d;
    font-size: 18px;
    cursor: pointer;
    transition: 0.5s;
  }

  button:hover {
    background-color: #d5e3ff;
  }

  button.active {
    background-color: white;
  }

  .active {
    background-color: white;
  }

  .contenthow {
    display: none;
    padding: 10px 20px;
  }

  .contenthow.active {
    display: block;
  }
</style>



<script type="text/javascript">
  const tabs = document.querySelector(".wrapper");
  const tabButton = document.querySelectorAll(".tab-button");
  const contents = document.querySelectorAll(".contenthow");

  var step2 = document.getElementById("2");
  // step2.style.display = 'none';
  step2.classList.remove("active");
  var step3 = document.getElementById("3");
  step3.classList.remove("active");  
  // step3.style.display = 'none';

  tabs.onclick = e => {
    const id = e.target.dataset.id;
    if (id) {
      tabButton.forEach(btn => {
        btn.classList.remove("active");
      });
      e.target.classList.add("active");
      e.target.style.display = 'block';

      contents.forEach(content => {
        content.classList.remove("active");
      });
      const element = document.getElementById(id);
      element.classList.add("active");
    }
  }
</script>
