<section class="container text-center py-5">
  <div class="my-4">
    <h2 class="title is-2 h1">{{ .title | markdownify }}</h2>
    <div class="subtitle is-5 f18">{{ .subtitle | markdownify }}</div>
  </div>

  <div class="row">
    {{ range .cards }}
      <div class="col">
        <div class="card shadow py-4 text-center">
          <span class="display-4">{{ .value }}</span>
          <div class="card-body">
            <b class="card-title h2">{{ .name | title }}</b>
          </div>
          <small class="card-footer">{{ .footer | safeHTML }}</small>
        </div>
      </div>
    {{ end }}
  </div>
</section>