<div class="container text-center my-5">
  <h2>{{ .title | markdownify }}</h2>
  <p>{{ .subtitle | markdownify }}</h3></p>        
  <div class="d-flex flex-wrap justify-content-between">    
    {{ range .items }}
        <a href="{{ .link }}">
          <img width="100px" class="p-1 mx-auto d-block" src="{{ .image }}" alt="{{ .image }}">
        </a>
    {{ end }}
  </div>
</div>
