<style type="text/css">
  .features2 {
    background: #fff url("{{ .image }}") center center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    background-size: cover;
  }
</style>

<div class="features2 py-5 bg-dark">
  <div class="container text-center my-5" style="opacity: 0.9">
    <div class="card text-dark mb-4">
      <h2 class="h1">{{ .title | markdownify }}</h2>
      <div class="subtitle is-5 pb-4 f18">{{ .subtitle | markdownify }}</div>
    </div>
    <div class="row row-cols-2 row-cols-lg-4 justify-content-center">
      {{ range .items }}
        <div class="col p-3 mx-2 card my-2 has-text-centered">
          <!-- style="text-decoration: none;" -->
          <img class="mx-auto d-block zoom-xs" src="{{ .icon | markdownify }}" height="70px" width="70px" />
          <h3 class="h5 pb-1">{{ .name | title }}</h3>
          <p>{{ .content | markdownify }}</p>
          <div class="card-footer mt-auto">          
            <a href="{{ .link }}" class="btn btn-block btn-primary" >
              <svg fill='white' class='' height='15px' viewBox='0 0 448 512'><path d='M190.5 66.9l22.2-22.2c9.4-9.4 24.6-9.4 33.9 0L441 239c9.4 9.4 9.4 24.6 0 33.9L246.6 467.3c-9.4 9.4-24.6 9.4-33.9 0l-22.2-22.2c-9.5-9.5-9.3-25 .4-34.3L311.4 296H24c-13.3 0-24-10.7-24-24v-32c0-13.3 10.7-24 24-24h287.4L190.9 101.2c-9.8-9.3-10-24.8-.4-34.3z'/></svg>
              {{.buttontext | markdownify }}
            </a>          
          </div>
        </div>
      {{ end }}
    </div>
  </div>
</div>
