<style type="text/css">
  .write {
    background: #000 url("/photos/write.jpg") center center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    background-size: cover;
  }
</style>


<div class="write my-5 p-5">
    <div class="container row my-5">
      <div class="col-lg-12 col-sm-12">  
        <h4 class="title mb-4">{{ .title }}</h4>
        <a href="{{ .link | absURL }} " class="btn btn-warning">
           <!-- is-rounded -->
          {{.btext}}
        </a>
      </div>
      <div class="col-lg-3 col-sm-12">  
        <img class="py-2" height="100px" width="100px" src="{{ .avatar }}">     
      </div>
    </div>

</div>