<!-- service -->

{{ range $i,$p := .articles }}
  {{if modBool $i 2}}

    <div class="row bg-dark">
      <div class="col-lg-9 col-sm-12">
        <section class="section text-light mx-5">
          <h3 class="h1 text-light pb-4">{{ .title | markdownify }}</h3>
          <p>{{ .content | markdownify }}</p>
          {{ with .button }}
            <a href="{{ .link | relURL }}" title="{{ .label }}" class="btn btn-primary btn-block my-4">{{ .label }}</a>
          {{ end }}

          {{ with .quote }}

            <svg viewBox="0 0 512 512" height='20px' fill='white'><path d="M464 256h-80v-64c0-35.3 28.7-64 64-64h8c13.3 0 24-10.7 24-24V56c0-13.3-10.7-24-24-24h-8c-88.4 0-160 71.6-160 160v240c0 26.5 21.5 48 48 48h128c26.5 0 48-21.5 48-48V304c0-26.5-21.5-48-48-48zm-288 0H96v-64c0-35.3 28.7-64 64-64h8c13.3 0 24-10.7 24-24V56c0-13.3-10.7-24-24-24h-8C71.6 32 0 103.6 0 192v240c0 26.5 21.5 48 48 48h128c26.5 0 48-21.5 48-48V304c0-26.5-21.5-48-48-48z"/></svg>
            <small class="pt-4">{{ . | markdownify }}</small>
            <svg  viewBox="0 0 512 512" height='20px' fill='white'><path d="M464 32H336c-26.5 0-48 21.5-48 48v128c0 26.5 21.5 48 48 48h80v64c0 35.3-28.7 64-64 64h-8c-13.3 0-24 10.7-24 24v48c0 13.3 10.7 24 24 24h8c88.4 0 160-71.6 160-160V80c0-26.5-21.5-48-48-48zm-288 0H48C21.5 32 0 53.5 0 80v128c0 26.5 21.5 48 48 48h80v64c0 35.3-28.7 64-64 64h-8c-13.3 0-24 10.7-24 24v48c0 13.3 10.7 24 24 24h8c88.4 0 160-71.6 160-160V80c0-26.5-21.5-48-48-48z"/></svg>        
            <br> 

          {{ end }}
          <small class="pt-4">{{ .author | markdownify }}</small>            
        </section>

      </div>

      <div class="col-lg-7 col-sm-none">
        <section class="section">
          <img src="{{ .image | relURL }}" alt="Image" class="align-center py-2">
        </section>
      </div>
    </div>


  {{ else }}

    <div class="row">

      <div class="col-lg-7 col-sm-12">
        <img src="{{ .image | relURL }}" alt="slider image" class="py-2">
      </div>

      <div class="col-lg-9 col-sm-12">
        <section class="section ">        
          <h2 class="title is-4">{{ .title | markdownify }}</h2>
          <p>{{ .content | markdownify }}</p>
          {{ with .button }}
            <a href="{{ .link | relURL }}" title="{{ .label }}" class="button btn-block is-primary mt-4">{{ .label }} 
            </a>
          {{ end }}

          {{ with .quote }}
            <div class="row">
              <div class="col-10">
                <svg viewBox="0 0 512 512" height='20px' fill='gray'><path d="M464 256h-80v-64c0-35.3 28.7-64 64-64h8c13.3 0 24-10.7 24-24V56c0-13.3-10.7-24-24-24h-8c-88.4 0-160 71.6-160 160v240c0 26.5 21.5 48 48 48h128c26.5 0 48-21.5 48-48V304c0-26.5-21.5-48-48-48zm-288 0H96v-64c0-35.3 28.7-64 64-64h8c13.3 0 24-10.7 24-24V56c0-13.3-10.7-24-24-24h-8C71.6 32 0 103.6 0 192v240c0 26.5 21.5 48 48 48h128c26.5 0 48-21.5 48-48V304c0-26.5-21.5-48-48-48z"/></svg>
                <small>{{ . | markdownify }}</small>
                <svg  viewBox="0 0 512 512" height='20px' fill='gray'><path d="M464 32H336c-26.5 0-48 21.5-48 48v128c0 26.5 21.5 48 48 48h80v64c0 35.3-28.7 64-64 64h-8c-13.3 0-24 10.7-24 24v48c0 13.3 10.7 24 24 24h8c88.4 0 160-71.6 160-160V80c0-26.5-21.5-48-48-48zm-288 0H48C21.5 32 0 53.5 0 80v128c0 26.5 21.5 48 48 48h80v64c0 35.3-28.7 64-64 64h-8c-13.3 0-24 10.7-24 24v48c0 13.3 10.7 24 24 24h8c88.4 0 160-71.6 160-160V80c0-26.5-21.5-48-48-48z"/></svg>         
              </div>



              <div class="col-2">

              </div>
            </div>        
          {{ end }}
          <small class="pt-4">{{ .author | markdownify }}</small>              
        </section>
      </div>
    </div>
  
  {{ end }}  
{{ end }}
