<section class="section container text-center my-5">
  <h2 class="h1">{{ .title | markdownify }}</h2>
  <b class="">{{ .subtitle | markdownify }}</b>

  <div class="card-group mt-4">
    {{ range .cards }}
      <div class="card shadow text-center mx-2">
        <img class="card-img-top" src="{{ .image }}" alt="{{ .name }}">
        <div class="card-header">
          <h3 class="">{{ .name | title }}</h3>          
        </div>
        <div class="card-body">
          <p class="p-2 card-text">{{ .content | markdownify }}</p>
        </div>
      </div>
    {{ end }}
  </div>
</section>