<div class="container text-center my-5">
  <h2>{{ .title | markdownify }}</h2>
  <p>{{ .subtitle | markdownify }}</p>        
  <div class="row row-cols-3">    
    {{ range .items }}
      <div class="col">          
        <a href="{{ .link }}">
          <img class="m-2" src="{{ .image }}" alt="{{ .image }}" height="100" >
        </a>
      </div>
    {{ end }}
  </div>
</div>

