<div class="container py-5">
  <h2 class="text-center mb-4">{{ .title }}</h2>

  <div class="main-timeline-4 text-white">

  {{ range $i,$p := .items }}
    {{if modBool $i 2}}

      <div class="timeline-4 left-4">
        <!-- gradient-custom -->
        <div class="card {{ .color }}">
          <div class="card-body p-4">
            <i class="mb-3">{{ .icon | markdownify }}</i>
            <div class="h3">{{ .name }}</div>
            <p class="small text-white-50 mb-4">{{ .date }}</p>
            <p>{{ .content }}</p>
          </div>
        </div>
      </div>

    {{ else }}

      <div class="timeline-4 right-4">
        <div class="card {{ .color }}">
          <div class="card-body p-4">
            <i class="mb-3">{{.icon | markdownify }}</i>
            <div class="h3">{{ .name }}</div>
            <p class="small text-white-50 mb-4">{{ .date }}</p>
            <p>{{ .content }}
            </p>
          </div>
        </div>
      </div>

    {{ end }}
  {{ end }}

  </div>
</div>