{{ define "main" }}

<style type="text/css">
  .banner {
    background: #fff url("{{ .Params.banner }}") center center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    background-size: cover;
  }
</style>


<!--   <div class="banner mt-n3 pb-3"> -->
  <div class="banner py-5">    
        
    <div class="card p-4 mx-3" style="opacity: 0.8">        
      <div class="row justify-content-center">
        <div class="col-lg-12 text-center">
          <h1 class="mt-0">{{ .Title }}</h1>
        </div>
        <div class="col-lg-9 col-xl-8 text-center">
          <p class="lead f18">{{ .Params.lead | safeHTML }}</p>

          <div class="btn-group has-addons is-centered">              
            {{ range .Params.buttons }}        
              <a href="{{ .link | safeURL }}" title="{{ .label }}" class="button btn btn-lg btn-{{ .color }} m-2">{{ .label }}</a>
            {{ end }}
          </div>

        </div>
      </div>
    </div>

  {{ with .Params.youtube }}
    <section class="section mt-n3 pb-3">
      <div class="row justify-content-center">
        <div class="col-lg-3">
        </div>
        <div class="col-lg-6">  
          <div class="ratio ratio-16x9">
            <iframe src="https://www.youtube.com/embed/{{ . }}" title="Pantrypoints" allowfullscreen></iframe>
          </div>          
        </div>
        <div class="col-lg-3">
        </div>                
    </section>
  {{ end }}
  </div>

  {{ with .Params.req }}
    {{ partial "req.html" . }}
  {{ end }}

  <!-- icons -->
  {{ with .Params.features }}
    {{ partial "features.html" . }}
  {{ end }}

  {{ with .Params.personas }}
    {{ partial "personas.html" . }}
  {{ end }}

  {{ with .Params.countries }}
    {{ partial "countries.html" . }}
  {{ end }}


  <!-- icons -->
  {{ with .Params.featuresgrid }}
    {{ partial "featuresgrid.html" . }}
  {{ end }}

  {{ with .Params.how }}
    {{ partial "how.html" . }}
  {{ end }}  

  {{ with .Params.personas2 }}
    {{ partial "personas.html" . }}
  {{ end }}


  {{ with .Params.circles0 }}
    {{ partial "circles.html" . }}
  {{ end }}

  {{ with .Params.duo }}
    {{ partial "duo.html" . }}
  {{ end }}

  <!-- icons -->
  {{ with .Params.duobutton }}
    {{ partial "duobutton.html" . }}
  {{ end }}

  {{ with .Params.triobutton }}
    {{ partial "triobutton.html" . }}
  {{ end }}


  {{ with .Params.circles1 }}
    {{ partial "circles.html" . }}
  {{ end }}

  {{ with .Params.circles2 }}
    {{ partial "circles.html" . }}
  {{ end }}

  {{ with .Params.circles3 }}
    {{ partial "circles.html" . }}
  {{ end }}

  {{ with .Params.circles4 }}
    {{ partial "circles.html" . }}
  {{ end }}

  {{ with .Params.circles5 }}
    {{ partial "circles.html" . }}
  {{ end }}

  {{ with .Params.circles6 }}
    {{ partial "circles.html" . }}
  {{ end }}

  {{ with .Params.duo2 }}
    {{ partial "duo2.html" . }}
  {{ end }}

  {{ with .Params.numbers }}
    {{ partial "numbers.html" . }}
  {{ end }}

  {{ with .Params.feedback }}
    {{ partial "feedback.html" . }}
  {{ end }}

  {{ with .Params.cta }}
    {{ partial "cta.html" . }}
  {{ end }}

{{ end }}


{{ define "sidebar-footer" }}
  <section class="section section-sm container-fluid">
    <div class="row justify-content-center text-center">
      <div class="col-lg-9">
        {{- .Content -}}
      </div>
    </div>
  </section>
{{ end }}
