{{ $src := .Get "src" | default "" }}
{{ $size := .Get "size" | default "" }}
{{ $alt := .Get "alt" | default "Image" }}
{{ $cap := .Get "cap" | default "" }}


<div class="text-center py-3">
	  <img src="{{ $src }}" alt="{{ $alt }}" class="image {{ $size }}">
	  {{ if $cap }}
	  	<figcaption><i>{{ $cap | markdownify }}</i></figcaption>
	  {{ end }}
</div>
