{{ define "main" }}

<style type="text/css">
  body {
    background-color: white;
  }
</style>


<div class="container">
  <div class="blog-header">
    <h1>{{ .Title }}</h1>
    {{ with .Params.subtitle }}
      <p>{{ . }}</p>        
    {{ end }}

    {{ with .Params.date }}
      <small>{{ .Format "January 2, 2006" }}</small>
    {{ end }}
  </div>

  {{ .Content }}


  {{ with .Params.form }}
    {{ partial "form.html" . }}        
  {{ end }}

  {{ with .Params.supporters2 }}
    {{ partial "supporters.html" . }}        
  {{ end }}
  
  {{ with .Params.supporters }}
    {{ partial "supporters.html" . }}        
  {{ end }}

</div>

{{ end }}
